<h2>{{link-to 'Ember Reload Gif' 'index' class='title'}}</h2>
<p>Select one of the tabs to see the animated gif.</p>
<p>Toggle between them, you will see that the animation will run again.</p>
<i class="note">* Note: the gifs used have a non looped animation that plays only once</i>
<div class="tabs">
  {{link-to 'Positive' 'positive'}}
  <span></span>
  {{link-to 'Negative' 'negative'}}
</div>

{{outlet}}
