<h2>{{link-to 'Ember Reload Gif' 'index' class='title'}}</h2>
<p>
  As the gif has only 1 animation, it will be cached by the browser,
  and if you render the image again, <br>
  the animation will be considered as already played.
  Therefore, the animation will not be played again.
</p>
<p>
  Select <strong>Positive</strong> or <strong>Negative</strong> to see the animated gif.<br>
  Toggle between them, you will see that the animation will run again.
</p>
<i class="note">* Note: the gifs used have a non looped animation that plays only once.</i>
<div class="tabs">
  {{link-to 'Positive' 'positive'}}
  <span></span>
  {{link-to 'Negative' 'negative'}}
</div>

{{outlet}}
