<p>Toggle between <strong>Positive</strong> and <strong>Negative</strong> to see the reloading of the gif.</p>
<div class="container">
  <h3>Regular imgage tag</h3>
  <img src="/images/thumb_positive1.gif" srcset="/images/thumb_positive1.gif 1x, /images/thumb_positive1_@2x.gif 2x" alt="thumb-positive" width="700">
</div>

<div class="container">
  <h3><a href="https://github.com/samdemaeyer/ember-reload-gif">Ember-reload-gif</a> helper</h3>
  {{reload-gif src='/images/thumb_positive.gif' srcset="/images/thumb_positive.gif 1x, /images/thumb_positive_@2x.gif 2x" alt="thumb-positive" width="700"}}
</div>
